body {
    font-family: roboto;
}
table {
    position: relative;
    height: 20px;
    width: 50%;
    outline: none;
    border: 5px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
}
section {
    width: 60%;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
}
input { 

} 















}